client/node_modules
client/public
client/package-lock.json
comments/.vscode
comments/node_modules
comments/package-lock.json
event-bus/.vscode
event-bus/node_modules
event-bus/package-lock.json
moderation/.vscode
moderation/node_modules
moderation/package-lock.json
posts/.vscode
posts/node_modules
posts/package-lock.json
query/.vscode
query/node_modules
query/package-lock.json